*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  overflow: hidden;
}

.menu-bar {
  display: none
}

@media screen and (max-width: 900px) {
  .menu-bar{
    display:block
  }
}